<%- include('../../partials/head.ejs') %>
    <title>Articles - Create</title>
<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
    <br>
    <main class="container-lg">
        <h2>Cadastro de Artigos</h2>
        <div class="card">
            <div class="card-header">
                <form action="/article/create" method="post" class="container">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" placeholder="">
                    <br>
                    <label for="description">Description</label>
                    <textarea name="description" id="mytextarea" class="form-control"></textarea>
                    <br>
                    <label for="category">Category</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%- category.id %>""><%- category.title %></option>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Salvar Artigo</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../../partials/script.ejs') %>