<%- include('../../partials/head.ejs') %>
    <title>Articles</title>
<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
    <main class="container-lg mt-3">
        <% result.articles.rows.forEach(article => { %>
            <div class="card">
                <a href="/article/<%- article.id %>/<%- article.slug %>"><%- article.title %></a>
            </div>
        <% }) %>
        <div class="page-control mt-3">
            <% if (result.pageNum > 2) { %>
                <a href="/articles/page/<%= result.pageNum - 1 %>"><< Previous</a>
            <% } else if (result.pageNum == 2) { %>
                <a href="/"><< Previous</a>
            <% } %>
            <p><%- result.pageNum %></p>
            <% if (result.next) { %>
                <a href="/articles/page/<%= result.pageNum + 1 %>">Next >></a>
            <% } else { %>
                <a href="/">Home</a>
            <% } %>
        </div>
    </main>
<%- include('../../partials/script.ejs') %>