<%- include('../../partials/head.ejs') %>
    <title>Categories</title>
<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
    <main class="container-lg">
        <br>
        <div class="header-info">
            <h2>Categories</h2>
            <a href="/admin/category/new" class="btn btn-success">New Category</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Slug</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <td><%- category.id %></td>
                        <td><%- category.title %></td>
                        <td><%- category.slug %></td>
                        <td>
                            <a class="btn btn-warning" href="/admin/category/edit/<%- category.id %>">Edit</a>
                            <form action="/category/delete" method="post" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%- category.id %>">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
<%- include('../../partials/script.ejs') %>
<script>
    function confirmarDelecao(event, form) {

        var conf = confirm("Excluir Categoria?")

        if (conf) {
            form.submit()
            console.log("Categoria Deletada!")
        } else {
            event.preventDefault()
            console.log("Deleção cancelada...")
        }
    }
</script>