<%- include('partials/head.ejs') %>
    <title>Articles - Create</title>
<%- include('partials/header.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <br>
    <main class="container-lg">
        <h2><%= article.title %></h2>
        <%- article.description %>
    </main>
<%- include('partials/script.ejs') %>
