<%- include('partials/head.ejs') %>
    <title>Home</title>
<%- include('partials/header.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <main class="container-lg">
        <div class="jumbotron mt-2">
            <h1 class="display-6">Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <br>
        <% articles.forEach((article) => { %>
            <div class="card container" style="height: 50px; padding: 10px 0px 0px 50px;">
                <a href="/<%- article.slug %>"><%- article.title %></a> 
            </div>
        <% }) %>
        <div class="row mt-3">
            <div class="col col-12">
                <a href="/articles/page/1" style="float: right;">Next >></a>
            </div>
        </div>
    </main>
<%- include('partials/script.ejs') %>