<%- include('../../partials/head.ejs') %>
    <title>Users</title>
<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
    <main class="container-lg">
        <div class="header-info">
            <h2><%- users.length %> Users</h2>
            <a href="/user/signup" class="btn btn-sm btn-success">New User</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Password</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%- user.id %></td>
                        <td><%- user.name %></td>
                        <td><%- user.email %></td>
                        <td><%- user.password %></td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="/admin/user/edit/<%- user.id %>">Edit</a>
                            <form action="/user/delete" method="post" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%- user.id %>">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
<%- include('../../partials/script.ejs') %>
<script>
    function confirmarDelecao(event, form) {

        var conf = confirm("Delete user?")

        if (conf) {
            form.submit()
            console.log("User Deleted!")
        } else {
            event.preventDefault()
            console.log("Operation canceled...")
        }
    }
</script>